body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-image: url("background.png");
    background-position: center;
    background-size: 100vw;
    overflow: hidden;  
   
  }

  html, body {
  overflow-y:hidden;
  height:100%;
}

  svg {
    transform: scale(2) translateY(44px) ;
    max-height: 480px;
  .fix {
     fill: rgb(0, 0, 0);
  }
  #pointer {
    transition: transform .4s cubic-bezier(.3,.45,.48,1.24);
    transform: rotate( calc(var(--amp ) * 1deg) ); 
    transform-origin: right bottom;
    transform-box: fill-box;
  }
  
  .wrapper_slider {
      position: relative;
      height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff22;
  border-radius: 10px;
  margin: 30px 0;
  width: 80vw;
    max-width: 80vh;
  }






  #slider {
      appearance: none;
      width: 80%;
      height: 2px;
      border-radius: 9px;
      background: #ffffff33;
      outline: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
  
      &::-webkit-slider-thumb {
          appearance: none;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #fff;
          cursor: pointer;
          transition: all 0.15s ease-in-out;
          &:hover {
              background: #aaa;
              transform: scale(1.2);
          }
      z-index:99999;
      }
      &::-moz-range-thumb {
          width: 15px;
          height: 15px;
          border: 0;
          border-radius: 50%;
          background: #333;
          cursor: pointer;
          transition: background 0.15s ease-in-out;
      z-index:99999;
          &:hover {
              background: #aaa;
          }
      }
    &::range-thumb {
          width: 20px;
          height: 20px;
          border: 0;
          border-radius: 50%;
          background: #333;
          cursor: pointer;
          transition: background 0.15s ease-in-out;
          &:hover {
              background: #aaa;
          }
      }
  }
  
